.btn{
    background-color: var(--blue);
    color: var(--white);
    padding: 0.75rem 1.5rem;
    border-radius : 3rem;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid var(--blue);
    text-align: center;
    min-width: 100px;
    text-transform: capitalize;

}
/* giving Dashboard box a shadow */

.btn:hover{
    box-shadow: 5px 5px 10px rgb(22, 22, 22);
    transition: all 0.3sec;
}
.outlined-btn{
    background-color: var(--black);
    color: var(--white);
    border: 2px solid var(--blue);
    padding: 0.75rem 3.2rem;
    border-radius : 3rem;
    font-weight: 600;
    cursor: pointer;

}
/* giving Dashboard box a shadow */

.outlined-btn:hover{
    background-color: var(--blue);
    box-shadow: 5px 5px 10px rgb(22,22,22);
    transition: all 0.3sec;
}