.btn{
    background-color: var(--blue);
    color: var(--white);
    padding: 0.75rem 1.5rem;
    border-radius : 3rem;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid var(--blue);
    text-align: center;
    min-width: 100px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;

}

.btn-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    filter: brightness(0) invert(1);
    margin-inline: 10px;
}

/* giving Dashboard box a shadow */

.btn:hover .btn-icon{
    filter: brightness(0);
}

.btn:hover{
    box-shadow: 5px 5px 10px rgb(22, 22, 22);
    transition: all 0.3sec;
}
.outlined-btn{
    background-color: var(--black);
    color: var(--white);
    border: 2px solid var(--blue);
    padding: 0.75rem 3.2rem;
    border-radius : 3rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
}

.outlined-btn:hover .btn-icon{
    filter: brightness(0);
}

/* giving Dashboard box a shadow */

.outlined-btn:hover{
    background-color: var(--blue);
    box-shadow: 5px 5px 10px rgb(22,22,22);
    transition: all 0.3sec;
}