.list-row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin: 2.5rem 0.5rem;
  padding: 0.5rem 25rem;
  width: 100%;
  border-radius: 0.75rem;
  background-color: var(--black);
  border: 2px solid var(--black);
  cursor: pointer;
}

.list-row:hover {
  border-color: var(--blue);
  transition: all 0.3s;
}

.list-row .chip-flex {
  display: flex;
  justify-content: flex-start;
  gap: 0.3rem;
  align-items: center;
  margin: 0.5rem 0.5rem;
}

.price-chip {
  border: 2px solid var(--blue);
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--blue);
}

.price-chip:hover,
.icon-chip:hover {
  background-color: var(--blue);
  color: var(--white);
  transition: all 0.2s;
}

.chip-red {
  border: 2px solid var(--red) !important;
  color: var(--red) !important;
}

.chip-red:hover {
  background-color: var(--red) !important;
  color: var(--white) !important;
  transition: all 0.2s;
}

.icon-chip {
  border: 2px solid var(--blue);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: var(--blue);
}

.info-container {
  margin: 0.5rem 2px;
  padding: 0.3rem 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.price {
  color: var(--blue);
  font-size: 1.2rem;
  font-weight: 600;
}

.total_volume {
  color: var(--gray);
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: -17.5px;
  padding: 0.3rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: start;
}

.favorite-icon-container {
  position: absolute;
  top: 30px;
  right: 20px;
  cursor: pointer;
  color: var(--gray);
  transition: color 0.3s;
}

.favorite-icon {
  transition: color 0.3s;
}

.favorite-icon-active {
  color: var(--red);
}

.tooltip-text {
  position: absolute;
  top: -30px;
  right: 0;
  background-color: var(--black);
  color: var(--white);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.75rem;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.favorite-icon-container:hover .tooltip-text {
  opacity: 1;
}

.tooltip-text-active {
  opacity: 1;
}
